<header class="header">
  <div class="text-center">
    <h1 class="display-4">{{ 'general.name' | translate }}</h1>
    <h3>
      {{ 'general.job' | translate }} &#47;
      <span class="text-danger fw-bold">Angular</span>
    </h3>
  </div>

  <div class="contacts">
    <a
      href="https://drive.google.com/file/d/1DxELV86N_UcdJIgYL9jKojyLEvRD5Lb4/view?usp=sharing"
      target="_blank">
      <img
        src="assets/logo/cv.png"
        alt=""
        width="28"
        height="28"
        title="resume"
        class="rounded-circle me-2" />
    </a>
    <a
      href="https://www.linkedin.com/in/uladzimir-karnialiuk/"
      target="_blank">
      <img
        src="assets/logo/linkedin.png"
        alt="linkedin"
        width="28"
        height="28"
        title="linkedin"
        class="rounded-circle me-2" />
    </a>

    <a
      href="https://t.me/kornul665"
      target="_blank">
      <img
        src="assets/logo/telegram.png"
        alt="telegram"
        width="28"
        height="28"
        title="telegram"
        class="rounded-circle me-2" />
    </a>

    <a
      href="https://github.com/Kornull"
      target="_blank">
      <img
        src="assets/logo/github.png"
        alt="github"
        width="28"
        height="28"
        title="github"
        class="rounded-circle me-2" />
    </a>
  </div>
</header>
