<header class="header">
  <div class="text-center">
    <h1 class="display-4">Uladzimir Karnialiuk</h1>
    <h3>
      Frontend Developer &#47; <span class="text-danger fw-bold">Angular</span>
    </h3>
  </div>

  <div class="contacts">
    <a
      href="https://www.linkedin.com/in/uladzimir-karnialiuk/"
      target="_blank">
      <img
        src="assets/logo/linkedin.png"
        alt="linkedin"
        width="28"
        height="28"
        class="rounded-circle me-2" />
    </a>

    <a
      href="https://t.me/kornul665"
      target="_blank">
      <img
        src="assets/logo/telegram.png"
        alt="telegram"
        width="28"
        height="28"
        class="rounded-circle me-2" />
    </a>

    <a
      href="https://github.com/Kornull"
      target="_blank">
      <img
        src="assets/logo/github.png"
        alt="github"
        width="28"
        height="28"
        class="rounded-circle me-2" />
    </a>
  </div>
</header>
