<div class="card shadow text-center default-style" style="width: 100%; max-width: 480px;">
  <div class="card-body">
    <h5 class="card-title">{{ projectData.title }}</h5>
    <p class="card-text text-muted" style="min-height: 48px;">
      {{ projectData.tech }}
    </p>
    <button
      class="btn btn-danger"
      (click)="openProjectModal()">
      View more
    </button>
  </div>
  <div class="card-footer">
    <div class="d-flex flex-wrap justify-content-center">
      <div
        class="tag ms-1 mb-1 d-flex align-items-center"
        *ngFor="let stack of projectData.stack"
        [style.background-color]="stack.color"
        [style.color]="stack.colorText">
        {{ stack.key }}
      </div>
    </div>
  </div>
</div>
