<div class="container">
  <div class="row gx-5">
    <div
      class="col shadow border d-flex flex-column align-items-center m-1 mb-2">
      <h2 class="text-center mb-2">About me</h2>
      <img
        src="assets/default-avatar.jpg"
        alt="avatar"
        width="186"
        height="186"
        class="rounded-circle" />
      <p class="text-start mt-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, cum
        aliquid! Numquam quia inventore rerum. Voluptatibus explicabo natus
        sint. Asperiores, perferendis. Voluptatum culpa mollitia doloribus saepe
        obcaecati, facilis animi optio nisi libero quibusdam minima repudiandae
        quod quos placeat, blanditiis aspernatur fuga esse. Cumque inventore
        repudiandae, sed enim sequi quibusdam omnis deserunt officiis illo animi
        veritatis voluptatibus saepe nobis sapiente voluptate possimus
        perferendis dicta voluptatum eligendi tenetur ad laborum vel dolor
        earum! Consequuntur iusto quidem inventore vel repellat a vero est cum
      </p>
    </div>

    <div class="col shadow border m-1 mb-2">
      <h2 class="text-center">Featured project</h2>
      <h3 class="text-center">{{ project.title }}</h3>
      <carousel>
        <div *ngFor="let img of project.image">
          <slide
            ><img
              src="{{ img }}"
              alt="slide"
              style="display: block; width: 100%"
          /></slide>
        </div>
      </carousel>

      <p class="mt-2">
        {{ project.tech }}
      </p>
      <p class="mt-2">Visit the portfolio section to learn more</p>
    </div>
  </div>
</div>
