<div class="modal-header">
  <h2>{{ project.title }}</h2>

  <button
    class="btn-close"
    (click)="closeModal()"></button>
</div>

<div class="modal-body">
  <carousel>
    <div *ngFor="let img of project.image">
      <slide
        ><img
          src="{{ img }}"
          alt="slide"
          style="display: block; width: 100%"
      /></slide>
    </div>
  </carousel>

  <h3 class="mt-2">Description</h3>
  <p>{{ project.info }}</p>
  <h5 *ngIf="project.warn" class="fw-bold text-danger">{{ project.warn }}</h5>
  <h5 class="mt-2">Stack:</h5>
  <ul>
    <li
      class=""
      *ngFor="let stack of project['full-stack']">
      {{ stack }}
    </li>
  </ul>
  <p>
    You can find this project on
    <a
      href="{{ project.github }}"
      target="_blank"
      >Github</a
    >
  </p>
  <p>
    You can view this project
    <a
      href="{{ project.link }}"
      target="_blank"
      >Here</a
    >
  </p>

  <hr />

  <div class="d-flex flex-wrap">
    <div
      class="tag ms-1 mb-1 d-flex align-items-center"
      *ngFor="let stack of project.stack"
      [style.background-color]="stack.color"
      [style.color]="stack.colorText">
      {{ stack.key }}
    </div>
  </div>
</div>
