<div class="container">
  <div class="row gx-5 text-center">
    <div class="col shadow border m-1">
      <h2>About me</h2>
      <img
        src="assets/default-avatar.jpg"
        alt="avatar"
        width="226"
        height="226"
        class="rounded-circle" />
      <p class="text-start">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, cum
        aliquid! Numquam quia inventore rerum. Voluptatibus explicabo natus
        sint. Asperiores, perferendis. Voluptatum culpa mollitia doloribus saepe
        obcaecati, facilis animi optio nisi libero quibusdam minima repudiandae
        quod quos placeat, blanditiis aspernatur fuga esse. Cumque inventore
        repudiandae, sed enim sequi quibusdam omnis deserunt officiis illo animi
        veritatis voluptatibus saepe nobis sapiente voluptate possimus
        perferendis dicta voluptatum eligendi tenetur ad laborum vel dolor
        earum! Consequuntur iusto quidem inventore vel repellat a vero est cum
        veritatis aspernatur aliquid commodi incidunt totam, ducimus ipsum
        mollitia doloremque temporibus quo alias natus eum quas? Officiis cum,
        sed quia velit quas eveniet, debitis magnam, omnis laborum autem ipsa
        doloremque praesentium doloribus corrupti alias sequi rem? Sunt nulla
        ipsum ipsa asperiores voluptas nostrum quis, porro possimus optio ea
        expedita amet odio placeat dicta odit eaque eius aut libero itaque!
      </p>
    </div>

    <div class="col shadow border m-1">
      <h2>Featured project</h2>
    </div>
  </div>
</div>
