<nav class="navbar-expand-md border-bottom mb-3">
  <div class="container">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a
          class="nav-link text-secondary"
          routerLink="/home"
          routerLinkActive="text-danger"
          >{{ 'general.home' | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-secondary"
          routerLink="/portfolio"
          routerLinkActive="text-danger"
          >{{ 'general.portfolio' | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-secondary"
          routerLink="/contacts"
          routerLinkActive="text-danger"
          >{{ 'general.contacts' | translate }}
        </a>
      </li>
    </ul>
  </div>
</nav>
